@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/*
* #635456 - slightly darkened text 
* #645557 - darkened text
* #493d3f - muted text
*/

@layer base {
  :root {
    --background: 350 8% 14%;
    --foreground: 27 57% 92%;
    --card: 350 8% 14%;
    --card-foreground: 27 57% 92%;
    --popover: 350 8% 14%;
    --popover-foreground: 27 57% 92%;
    --primary: 27 57% 92%;
    --primary-foreground: 348 8% 48%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 352 8% 36%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 27 57% 92%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 27 57% 92%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
